<p id="notice"><%= notice %></p>

<p>
  <strong>Product name:</strong>

  <%= @product.product_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @product.unit %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<br>
<%= link_to 'Add more', new_product_path %>
<br><br><br><br><br><br><br>


<%= link_to 'Continue',new_phone_number_path %>

